<div class="wedding-container">
  <div class="wedding-wrapper">
    <div class="card-head">
      <h1>{{wedding.title}}</h1>
      {{#if weddingAdmin}}
          <a href="/wedding/{{wedding.id}}/dashboard"><i class="fa-solid fa-gear"></i></a>
      {{/if}}
    </div>
    <div class="card-body">
      <h2 class="card-title">{{wedding.partnerOne}} & {{wedding.partnerTwo}}</h2>
      <p class="card-text">{{wedding.description}}</p>
      {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
      <div class="wedding-buttons">
        <button class="primary-btn">
          <a href="/wedding/{{wedding.id}}/ticket">Create your Ticket here</a>
        </button>
        <button class="secondary-btn">
          <a href="/wedding/{{wedding.id}}/gifts">Gift List</a>
        </button>
      </div>
    </div>
  </div>
    
</div>
