<div class="card">
  <h5 class="card-header">{{wedding.title}}</h5>
  <div class="card-body">
    <h5 class="card-title">{{wedding.partnerOne}} & {{wedding.partnerTwo}}</h5>
    <p class="card-text">{{wedding.description}}</p>
    {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
    <a href="/wedding/{{wedding.id}}/ticket">Create your Ticket here</a>
  </div>

  
</div>

<a href="/wedding/{{wedding.id}}/gifts">Gift List</a>
<a href="/wedding/{{wedding.id}}/dashboard">Dashboard</a>
