<div class="container">
  <div class="row">
    <div class="col text-center mt-4">
      <img src={{currentUser.image}} class="rounded-circle border border-3 m-4" width="200" alt={{currentUser.name}} referrerpolicy="no-referrer">
      <h2>Hi {{currentUser.name}}, welcome to your profile!</h2>
      <hr class="my-4">
      <div class="weddings">
        <h3>My weddings</h3>
        <p>{{currentUser.weddings.[0].title}}</p>
        {{#each currentUser.weddings as |wedding|}}
          <p>{{wedding.title}}</p>
          <p>{{wedding.partnerOne}} & {{wedding.partnerTwo}}</p>
        {{/each}}
      </div>
      <a href="/wedding/create" class="btn btn-primary bg-light-green border-0">Create Wedding</a>
    </div>
  </div>
</div>