<div class="form-container">
  <div class="form-wrapper">
    <h1 class="my-4">Create new gift</h1>

    <form action="/wedding/{{weddingId}}/createGift" method="post" enctype="multipart/form-data">
      <div class="form-input">
        <input
          type="text"
          name="name"
          class="custom-form-control form-control py-2 ps-4 {{#if error}}is-invalid{{/if}}"
          placeholder="Name"
          aria-label="Gift name"
          value="{{ gift.name }}"
        >
        {{#if error}}<div class="text-danger text-center mb-2">{{ error }}</div>{{/if}}
      </div>
      <div class="form-input">
        <input
          type="text"
          name="description"
          class="custom-form-control form-control py-2 ps-4 {{#if error}}is-invalid{{/if}}"
          placeholder="Description"
          aria-label="description"
          value="{{ gift.description }}"
        >
        {{#if error}}<div class="text-danger text-center mb-2">{{ error }}</div>{{/if}}
      </div>
      <div class="form-input">
        <input
          type="number"
          min="1"
          step="any"
          name="price"
          class="custom-form-control form-control py-2 ps-4 {{#if error}}is-invalid{{/if}}"
          placeholder="Price"
          aria-label="Gift price"
          value="{{ gift.price }}"
        >
        {{#if error}}<div class="text-danger text-center mb-2">{{ error }}</div>{{/if}}
      </div>
      <div class="form-input">
        <input
          type="text"
          min="1"
          step="any"
          name="link"
          class="custom-form-control form-control py-2 ps-4 {{#if error}}is-invalid{{/if}}"
          placeholder="Product URL"
          aria-label="Gift price"
          value="{{ gift.link }}"
        >
        {{#if error}}<div class="text-danger text-center mb-2">{{ error }}</div>{{/if}}
      </div>
      <div class="form-input">
        <input
          type="file"
          name="image"
          class="custom-form-control form-control py-2 ps-4 {{#if error}}is-invalid{{/if}}"
          value="{{ gift.image }}"
        >
        {{#if error}}<div class="text-danger text-center mb-2">{{ error }}</div>{{/if}}
      </div>
      <div class="form-submit">
        <button type="submit">Create</button>
      </div>
    </form>
  </div>
</div>